ul.tabs {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.tabs>li {
    float: left;
    padding: 10px;
    background-color: #12161a;
}

body {
    color: #fff;
    background: #12161a;
    margin: 1em auto;
    padding: 1em;
    max-width: 50em;
    font: 14px monospace;
}

a {
    color: #6c6;
    text-decoration: underline;
}

a:hover,.active-page {
    color: #c6c;
}

.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav {
    font-size: 17px;
}